#pppp{
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    scrollbar-width: none;
    /* 파이어폭스 */
    height: 50%;
}
#pppp ::-webkit-scrollbar {
    display: none;
    /* 크롬, 사파리, 오페라, 엣지 */
}
