/* 폰트 목록 */

@font-face {
  font-family: "NotoSerifKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

/* CSS 적용 */

#body {
  font-family: "Noto Sans KR", "Courier New", Courier, monospace;
  justify-content: center;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.profile-box{
  display: flex;
  border-radius: 24px;
  box-shadow: 0px 72px 80px -48px #000000;
  gap: 20px;
  width: 15vw;
  height: 20vw;
  flex-direction: column;
  background: whitesmoke;
  padding: 100px;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.profile-div {
  display: flex;
  gap: 20px;
  width: 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

@media (max-width: 991px) {
  .login-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
    align-items: center;
    justify-content: center;
  }
}

.profile-photo {
  display: flex;
  border-radius: 60px;
  background: gainsboro;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  
}

.name-div{
  display: flex;
    font-size: 1.3vw;
    font-weight: 400;
    justify-content: center;
}

.tags{
    font-size: 1vw;
    margin-top: 1vw;
    padding-bottom: 5%;
}


.content-box{
  font-size: 1vw;
  display: flex;
  border-radius: 24px;
  box-shadow: 0px 72px 80px -48px #000000;
  gap: 20px;
  width: 20vw;
  height: 20vw;
  flex-direction: column;
  background: whitesmoke;
  padding: 100px;
  justify-content: first baseline;
  margin: 25px;
}

.intro{
  margin-top: 60%;
  display: grid;
  font-size: 1vw;
  font-weight: 600;
  margin-left: 10%;
  /* justify-content: center; */
}

.etc-div{
  display: inline-block;
  font-size: 1vw;
  font-weight: 400;
  margin-left: 10%;
}

.birthday{
  font-size: 1vw;
  font-weight: 300;
}

.btn{
  display: flex;
  vertical-align: top;
}

.update-btn{
  display: flex;
  
}